<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>My Awesome To-do List App </title>
        
    </head>
    <body>
        <h1>Index page</h1>
        <h3>Please login !</h3>
        <form>
            <label>username: </label><br><br>
            <input name="username"><br><br>
            <label>password: </label><br><br>
            <input type='password' name='user_password'><br><br>
            <input type='checkbox' name=‘promo_emails’><br> <br>
            <input type='submit' value='Login!'><br><br>
        </form>
    <p>Don't have an account? Go to register 
        <a href="/register">here</a>
    </p>
    </body>
</html>