<!DOCTYPE html>
<html>

    <head>
        <title>My Awesome To-do List App </title>
        <link rel="stylesheet" href="static/css/main.css" type="text/css" 
        charset="UTF-8">
    </head>
    <body>
        <img src="../static/todo.png" alt="logo" style="width:64px;height: 64px;">
        <div id="mainContent">
            <h1 id="pageHeading">Index page</h1>
            <h3>Please login !</h3>
            <form>
                <label>username: </label><br><br>
                <input name="username"><br><br>
                <label>password: </label><br><br>
                <input type='password' name='user_password'><br><br>
                <input type='checkbox' name=‘promo_emails’><br> <br>
                <input type='submit' value='Login!'><br><br>
            </form>
            <p>Don't have an account? Go to register 
                <a href="/register">here</a>
            </p>
        </div>
    </body>
</html>
