<!DOCTYPE html>
<html>
    <head>
        <title> Registration</title>
        <link rel="stylesheet" href="static/css/main.css" type="text/css" 
        charset="UTF-8">
    </head>

    <body>
        <img src="../static/todo.png" alt="logo" style="width:64px;height: 64px;">
        <div id="mainContent">
        <h1 id="pageHeading">Registration page</h1>
        <h3>Please register here!</h3>

        <form action='nextpage'>
            <!--<input type='submit' value='Button Text'>-->
            <label>username: </label><br><br>
            <input name="username"><br><br>
            <label>password: </label><br><br>
            <input type='password' name='password'><br><br>
            <input type='checkbox' name=‘promo_emails’><br> <br>
            <input type='submit' value='Register!'><br><br>

        </form>
        </div>      
    </body>
</html>
